.main-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 1rem 2rem;
}

.product-card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: #f9f9f9;
    padding: 1rem;
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
    text-align: center;
    position: relative;
}

.add-product-main-box {
    max-width: 40%;
    margin: auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    text-align: center;
}

.add-product-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.add-product-form label {
    font-size: 1rem;
    margin: 2rem 0.75rem;

}

.add-product-form input,
.add-product-form textarea {
    padding: 1rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.product-btn {
    background-color: bisque;
    font-size: 1rem;
    border-radius: 4px;
}
 
.product-btn:hover {
    background-color:rgb(207, 182, 152);
    cursor: pointer;
}

.del-btn {
    background-color: transparent;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 0.5rem;
    right: 0.25rem;
    border: none;
    color: red;
    cursor: pointer;
}

.del-btn:hover {
    /* font-size: 2.5rem; */
    background-color: transparent;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    cursor: pointer;
}

.pagination button.active {
    background-color: green;
    color: white;
    border-color: green;
}

.pagination button:hover {
    background-color: #ddd;
}

